body{
margin:0;
font-family:Arial, sans-serif;
}

.homepage{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-image:url("yarn-background.jpg");
background-size:cover;
background-position:center;
}

h1{
font-size:50px;
color:white;
text-shadow:0 0 10px rgba(0,0,0,0.4);
}

button{
margin-top:30px;
padding:15px 30px;
font-size:18px;
border:none;
border-radius:30px;
cursor:pointer;
background:white;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

.letterPage{
display:none;
height:100vh;
background:#ffe4ec;
text-align:center;
padding-top:100px;
}

.envelope{
font-size:80px;
cursor:pointer;
margin-top:30px;
}

.letter{
display:none;
max-width:500px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
margin-top:30px;
}
